/* Utiliy */
.h-100 {
  height: 100px !important;
}
.h-250 {
  height: 250px !important;
}
.h-300 {
  height: 300px !important;
}
.h-700 {
  height: 700px !important;
}
.h-400 {
  height: 400px;
}
.mb-0{
  margin-bottom: 0px !important;
}
.mb-25{
  margin-bottom: 25px;
}
.mt-150 {
  margin-top: 150px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-25 {
  margin-top: 25px;
}
.c-white {
  color: white !important;
}
.f-bold {
  font-weight: bold;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-left: auto !important;
}
.bg-white {
  background: white !important;
}
.text-center {
  text-align: center;
}
/* /Utiliy */
body {
}
nav {
  height: 60px;
  background: white;
  border-style: none;
}
.navbar-brand img{
  height: 25px;
}
.btn-group button {
  margin-top: 12px;
  padding: 6px 20px;
}
.nav.navbar-nav li a{
  line-height: 30px;
}
.bg-img {
  background-image: url(../img/bg-home-hero-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img h1 {
  font-size: 4em;
}
.bg-img h4 {
line-height: 30px;
color: rgba(255, 255, 255, 0.7);
}
.container > div:nth-child(2) > div {
  margin-top: 120px;
  margin-bottom: 60px;
  border-radius: 10px;
}
/* /Navbar */
/*  Form Header*/

#form-top h2 {
  padding-top: 30px;
  font-weight: bold;
}
#form-top a {
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}
#form-header input {
  width: 90%;
  margin-top: 10px;
  margin-left: 20px;
}
#form-header button {
  margin-top: 20px;
  display: block;
  width: 90%;
  margin-left: 20px;
}
#form-header > button:nth-child(3) {
  background-color: #579AFF;
  color: white;
}
#form-header > button:nth-child(4) {
  position: relative;
}
#form-header p {
  text-align: center;
  padding-top: 30px;
}
.i-btn {
  display: inline-block;
  position:absolute;
  left: 10px;
  color: #579AFF;
}
