/* Utiliy */
.h-100 {
  height: 100px !important;
}
.h-250 {
  height: 250px !important;
}
.h-300 {
  height: 300px !important;
}
.h-700 {
  height: 700px !important;
}
.h-400 {
  height: 400px;
}
.mb-0{
  margin-bottom: 0px !important;
}
.mb-25{
  margin-bottom: 25px !important;
}
.mb-50{
  margin-bottom: 50px !important;
}
.pb-50{
  padding-bottom: 50px !important;
}
.mt-150 {
  margin-top: 150px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-25 {
  margin-top: 25px;
}
.c-white {
  color: white !important;
}
.f-bold {
  font-weight: bold;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-left: auto !important;
}
.bg-white {
  background: white !important;
}
.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.bg-grey {
  background-color: #F3F5F9;
}
.bg-blue {
  background-color: #0038B2;
}
.bg-dblue {
  background-color: #031C4E;
}
.c-blue {
  color: blue;
}
/* /Utiliy */
body {
font-family: 'Roboto', sans-serif;
}
nav {
  height: 60px;
  background: white;
  border-style: none;
}
.navbar-brand img{
  height: 25px;
}
.btn-group button {
  margin-top: 12px;
  padding: 6px 20px;
}
.nav.navbar-nav li a{
  line-height: 30px;
}
.bg-img {
  background-image: url(../img/bg-home-hero-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img h1 {
  font-size: 4em;
}
.bg-img h4 {
line-height: 30px;
color: rgba(255, 255, 255, 0.7);
}
.container > div:nth-child(2) > div {
  margin-top: 120px;
  margin-bottom: 60px;
  border-radius: 10px;
}
/* /Navbar */
/*  Form Header*/

#form-top h2 {
  padding-top: 30px;
  font-weight: bold;
}
#form-top a {
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}
#form-header input {
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
}
#form-header button {
  margin-top: 20px;
  display: block;
  width: 90%;
  margin-left: 5%;
}
#form-header > button:nth-child(3) {
  background-color: #579AFF;
  color: white;
}
#form-header > button:nth-child(4) {
  position: relative;
}
#form-header p {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.i-btn {
  display: inline-block;
  position:absolute;
  left: 10px;
  color: #579AFF;
}
/* /Form Header */

/* Main */
/* sponsor section */

.title {
  font-weight: bold;
}
.little-title {
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5em;
  padding-top: 20px;
}
/* Sporson main */
#sponsor-main h2 {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
}
#sponsor-main img {
  margin: 5px;
}

/* /sponsor section */

/* optimize section*/
#optimize h4 {
  line-height: 1.5em;
}
.line-right{
  border-left: 2px inset rgba(0, 0, 0, 0.2);
  padding-left: 5px;
}
/* /optimize section*/

/* designed section */
#designed {
  position: relative;
}
#designed h4 {
  line-height: 1.5em;
}
#designed .slide-m i {
  margin: 20px;
  font-size: 50px;
  vertical-align: text-top;
  color: #031b4e;
}
.slide-m img {
  width: 50%;
  vertical-align: middle;
  padding-bottom: 20px;
}
.slide-b i {
  font-size: 10px;
  padding-bottom: 50px;
}

/* /designed section */

/* Development section */
#development .slide-rocker i {
  margin: 20px;
  font-size: 50px;
  vertical-align: text-top;
  color: #031b4e;
}
.slide-rocker img {
  width: 50%;
  vertical-align: middle;
  padding-bottom: 20px;
}

/* ************************* */
/* ************************* */
/* ************************* */
/* ************************* */
/* ************************* */
/* ************************* */
/* Media query for header */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
/* Media Tablet */
@media (min-width:766px) and (max-width:992px) {
  .bg-img h1 {
    font-size: 3em;
  }
  #sponsor-main img {
    margin: 2px;
    width: 110px;
  }

}
/* Media standar Phone */
@media (max-width: 766px) {
  #designed .slide-m i {
    display: none;
  }
  #development .slide-rocker i {
    display: none;
  }
}
/* Media small Phone */
@media (max-width: 366px) {
  #sponsor-main img {
    margin: 2px;
    width: 90px;
  }
}
/* Media desktop */
@media (min-width:1200px) {
  .line-right{
    border-left: 2px inset rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    margin-left: 100px;
  }
}
